<div class="status">
	
	<div class="text">
		<p class="message"><%=status.message%></p>
		<p class="date muted" title="<%=status.updated_time%>"><%=new Date(status.updated_time).toRelativeTime()%></p>
	</div>

	<div class="friends">

		<%
		friends.data.push(status.friend) ;

		$.each(shuffleArray(friends.data), function(i, friend){ %>
			<a 
				class="friend" 
				title="<%=this.name%>" 
				rel="tooltip" 
				data-placement="bottom" 
				style="background-image: url(http://graph.facebook.com/<%=this.username%>/picture?width=90&height=90)" 
				href="javascript://">
			</a>
		<% }); %>

		<div class="clearfix"></div>

	</div>
</div>